# **Seminario de métodos computacionales para lenguas amerindias**

## Tarea 2! Datos de [Wals](https://github.com/cldf-datasets/wals/tree/master/cldf), [diccionarios](https://realpython.com/python-dicts/) y [pandas](https://pandas.pydata.org/)

Fecha de entrega: **lunes 7 de noviembre!**

**Indicaciones!**
- Comente cada línea de código. Sigan normas básicas de estilo: uso de espacios, nombre de variables. Usen celdas de código y markdown para facilitar la lectura. 
- Cualquier consulta, no duden escribir a los profesores. No dejen que una duda persista más de 1 día. 
- El trabajo puede realizarse en grupos de 2 o 3 integrantes. 
- Entreguen un archivo **.ipynb** (notebook) o **.py**.

In [1]:
## importamos la librería
import pandas as pd

In [2]:
## lenguas de wals https://github.com/cldf-datasets/wals/tree/master/cldf
languages_wals = pd.read_csv('languages_wals.csv')

In [3]:
## lenguas sin información de familia: usamos el nombre de la lengua
languages_wals['Family'] = languages_wals['Family'].mask(languages_wals['Family'].isna(), languages_wals['Name'])

In [4]:
## usaremos este dataframe para la Tarea 2
languages_wals

,ID,Name,Macroarea,Latitude,Longitude,Glottocode,ISO639P3code,Family,Subfamily,Genus,GenusIcon,ISO_codes,Samples_100,Samples_200,Country_ID,Source
0,aab,Arapesh (Abu),Papunesia,-3.450000,142.950000,abua1245,aah,Torricelli,NaN,Kombio-Arapesh,c51CC56,aah,False,False,PG,Nekitel-1985
1,aar,Aari,Africa,6.000000,36.583333,aari1239,aiw,Afro-Asiatic,Omotic,South Omotic,c708033,aiw,False,False,ET,Hayward-1990a
2,aba,Abau,Papunesia,-4.000000,141.250000,abau1245,aau,Sepik,NaN,Abau,c807433,aau,False,False,PG,Bailey-1975
3,abb,Arabic (Chadian),Africa,13.833333,20.833333,chad1249,shu,Afro-Asiatic,NaN,Semitic,cB3CC51,shu,False,False,TD,Abu-Absi-1995
4,abd,Abidji,Africa,5.666667,-4.583333,abid1235,abi,Niger-Congo,Kwa,Agneby,c523380,abi,False,False,CI,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,zte,Zapotec (Texmelucan),North America,16.500000,-97.166667,texm1235,zpz,Oto-Manguean,NaN,Zapotecan,c5162CC,zpz,False,False,MX,NaN
2658,zul,Zulu,Africa,-30.000000,30.000000,zulu1248,zul,Niger-Congo,Benue-Congo,Bantu,cC3CC51,zul,True,True,ZA,Canonici-1989 Canonici-1995 Cope-1982 Dahl-198...
2659,zun,Zuni,North America,35.083333,-108.833333,zuni1245,zun,Zuni,NaN,NaN,c805C33,zun,False,False,US,Bunzel-1933-1938 Bybee-et-al-1994 Cook-1975 Mi...
2660,zya,Zapotec (Yatzachi),North America,17.200000,-96.200000,yatz1235,zav,Oto-Manguean,NaN,Zapotecan,c5162CC,zav,False,False,MX,Butler-1980
2661,zzo,Zapotec (Zoogocho),North America,17.250000,-96.250000,zoog1238,zpq,Oto-Manguean,NaN,Zapotecan,c5162CC,zpq,False,False,MX,Long-C-and-Cruz-M-1999 Sonnenschein-2005

In [5]:
## lenguas de wals https://github.com/cldf-datasets/wals/tree/master/cldf
values_wals = pd.read_csv('values_wals.csv')

In [6]:
## también usaremos este dataframe
values_wals

,ID,Language_ID,Parameter_ID,Value,Code_ID,Comment,Source,Example_ID
0,81A-aab,aab,81A,2,81A-2,NaN,Nekitel-1985[94],NaN
1,82A-aab,aab,82A,1,82A-1,NaN,Nekitel-1985[94],NaN
2,83A-aab,aab,83A,2,83A-2,NaN,Nekitel-1985[94],NaN
3,87A-aab,aab,87A,2,87A-2,NaN,Nekitel-1985[95],NaN
4,88A-aab,aab,88A,2,88A-2,NaN,Nekitel-1985[95],NaN
...,...,...,...,...,...,...,...,...
76470,144B-zzo,zzo,144B,3,144B-3,NaN,Sonnenschein-2005[114],NaN
76471,144T-zzo,zzo,144T,1,144T-1,NaN,Sonnenschein-2005[114],NaN
76472,144V-zzo,zzo,144V,1,144V-1,NaN,Sonnenschein-2005[114],NaN
76473,144W-zzo,zzo,144W,6,144W-6,NaN,Sonnenschein-2005[114],NaN
76474,144X-zzo,zzo,144X,4,144X-4,NaN,Sonnenschein-2005[114],NaN

In [7]:
## y este dataframe

population = pd.read_csv('ET.csv')

In [8]:
population

,id,family_id,name,iso639P3code,aes,population
0,aari1238,sout2845,Aari-Gayil,aiz,unk,-1
1,aari1239,sout2845,Aari,aiw,Not Endangered,298300
2,aari1240,book1242,Aariya,aay,unk,-1
3,aasa1238,afro1255,Aasax,aas,10 (Extinct),0
4,abad1241,aust1307,Abadi,kbt,Not Endangered,2900
...,...,...,...,...,...,...
8058,zuma1239,afro1255,Zumaya,zuy,10 (Extinct),0
8059,zumb1240,afro1255,Zumbun,jmb,6b (Threatened),2000
8060,zuni1245,zuni1245,Zuni,zun,7 (Shifting),9620
8061,zuoj1238,taik1256,Zuojiang Zhuang,zzj,Not Endangered,1840000
8062,zyph1238,sino1245,Zyphe,zyp,Not Endangered,20000

### Pregunta 0.
Identifique todas las lenguas que aparecen en Wals. Guarde esa información en la lista "lenguas"

In [9]:
## use el dataframe languages_wals['ID']

### Pregunta 1.
¿Cuántas familias lingüísticas aparecen en Wals?

In [10]:
## use el dataframe languages_wals['Family']
## defina la lista "familias", y partir de esta lista construya la lista de familias únicas "familias_unicas"

### Pregunta 2.
¿Cuántas macroáreas aparecen en Wals?

In [11]:
## use el dataframe languages_wals['Macroarea']
## defina la lista "macroareas", y partir de esta lista construya la lista de macroareas únicas "macroareas_unicas"

### Pregunta 3.
Defina un diccionario cuyas keys sean las macroáreas de la Pregunta 2, y cuyos values sean listas de lenguas de esa macroárea. Con este diccionario, identifique el número de lenguas anotadas por macroárea.

In [12]:
## puede partir con un diccionario del tipo {macroarea:[], ...}, y luego recorrer dos listas: lenguas y familias

### Pregunta 4.
A partir del dataframe **values_wals**, calcule el número de rasgos anotados para cada lengua en Wals.

In [13]:
## use el dataframe value_wals['Language_ID']

### Pregunta 5.
El dataframe **population** contienen información sobre número de hablantes en lenguas del mundo. En la columna "population", -1 indica que no hay datos. 
- A partir del dataframe **languages_wals**, construya el diccionario **id_iso** cuyos keys sean los elementos de la columna **ID**, y cuyos values sean los elementos de la columna **ISO639P3code**. 
- Filtre las lenguas del dataframe **population** que tienen entre 1 y 100 hablantes. Defina el nuevo dataframe **D_100**.
- Use el diccionario **id_iso** para buscar las lenguas de **D_100** que están en el dataframe **values_wals**. ¿Cuántas de estas lenguas aparecen en Wals? Para las lenguas que aparecen en Wals, ¿Cuántos rasgos están anotados?

In [14]:
##