# **Seminario de métodos computacionales para lenguas amerindias**
### Roberto Zariquiey Biondi, rzariquiey@pucp.edu.pe 
### Javier Vera Zúñiga, jveraz@pucp.edu.pe

## Datos de [Wals](https://github.com/cldf-datasets/wals/tree/master/cldf), [Glottolog](https://glottolog.org/meta/downloads), [diccionarios](https://realpython.com/python-dicts/) y [pandas](https://pandas.pydata.org/) (también [ver](https://pandas.pydata.org/docs/user_guide/index.html))

In [132]:
## importamos la librería
import pandas as pd

In [133]:
## descomente en el desafío

##from google.colab import files
##uploaded = files.upload()

## Glottolog

In [146]:
## https://glottolog.org/meta/downloads
languages_glotto = pd.read_csv('languages_and_dialects_geo.csv')

In [147]:
languages_glotto

,glottocode,name,isocodes,level,macroarea,latitude,longitude
0,3adt1234,3Ad-Tekles,NaN,dialect,Africa,NaN,NaN
1,aala1237,Aalawa,NaN,dialect,Papunesia,NaN,NaN
2,aant1238,Aantantara,NaN,dialect,Papunesia,NaN,NaN
3,aari1239,Aari,aiw,language,Africa,5.95034,36.5721
4,aari1240,Aariya,aay,language,Eurasia,NaN,NaN
...,...,...,...,...,...,...,...
21647,zuwa1238,Zuwadza,NaN,dialect,Papunesia,NaN,NaN
21648,zwal1238,Zwall,NaN,dialect,Africa,NaN,NaN
21649,zyph1238,Zyphe,zyp,language,Eurasia,22.52400,93.2640
21650,zyud1238,Zyuzdin,NaN,dialect,Eurasia,NaN,NaN
21651,huaa1249,ǂHua,NaN,dialect,Africa,NaN,NaN

In [148]:
## reducimos las columnas

languages_glotto = languages_glotto[['glottocode','isocodes','macroarea']]

In [149]:
# ahora, filtramos las filas que tienen datos faltantes

languages_glotto = languages_glotto.dropna()

In [150]:
languages_glotto

      glottocode isocodes      macroarea
3       aari1239      aiw         Africa
4       aari1240      aay        Eurasia
5       aasa1238      aas         Africa
11      abad1241      kbt      Papunesia
13      abag1245      abg      Papunesia
...          ...      ...            ...
21634   zuma1239      zuy         Africa
21636   zumb1240      jmb         Africa
21641   zuni1245      zun  North America
21642   zuoj1238      zzj        Eurasia
21649   zyph1238      zyp        Eurasia

[7992 rows x 3 columns]

In [151]:
## definamos una lista de lenguas: 7992

lista_lenguas_glottolog = list(languages_glotto['glottocode'])

In [152]:
## comprobamos

len(lista_lenguas_glottolog)

7992

### Pregunta 1: ¿Cuántas lenguas hay por macroarea?

In [153]:
## identificamos las macroareas

## definimos una lista vacía
macroareas = []

## recorremos la lista de macroareas
for M in list(languages_glotto['macroarea']):
    ## si no está, la agregamos
    if M not in macroareas and str(M)!= 'nan':
        macroareas += [M]

In [154]:
## verificamos

macroareas

['Africa',
 'Eurasia',
 'Papunesia',
 'South America',
 'North America',
 'Australia']

In [155]:
languages_glotto.columns

Index(['glottocode', 'isocodes', 'macroarea'], dtype='object')

In [156]:
## diccionario de macroareas
## keys - macroareas
## values - listas de lenguas asociadas a esa macroarea

macroareas_dict = {}

## recorremos las macroareas
for M in macroareas:
    ## filtramos por lenguas de una macroarea
    languages_macroarea = languages_glotto[languages_glotto['macroarea'] == M]
    ## agregamos
    macroareas_dict[M] = languages_macroarea

In [157]:
## número de lenguas: tamaño de los dataframes

for M in macroareas_dict.keys():
    ## mostramos el largo de los dataframes
    print(M, len(macroareas_dict[M]))

Africa 2272
Eurasia 1888
Papunesia 2174
South America 547
North America 721
Australia 390

In [158]:
macroareas_dict['South America']

      glottocode isocodes      macroarea
47      abip1241      axb  South America
81      acha1250      aca  South America
83      ache1246      guq  South America
92      achu1248      acu  South America
98      acro1239      acs  South America
...          ...      ...            ...
21445   yuqu1240      yuq  South America
21446   yura1255      yuz  South America
21454   yuru1263      yui  South America
21512   zapa1253      zro  South America
21607   zoee1240      pto  South America

[547 rows x 3 columns]

In [159]:
## ¿Qué pasa con estos números si eliminamos las lenguas extintas?

### Pregunta 2: ¿Cuántas familias lingüísticas hay por macroarea?

In [189]:
## https://glottolog.org/meta/downloads
languoid = pd.read_csv('languoid.csv')

In [190]:
languoid.columns

Index(['id', 'family_id', 'parent_id', 'name', 'bookkeeping', 'level',
       'latitude', 'longitude', 'iso639P3code', 'description',
       'markup_description', 'child_family_count', 'child_language_count',
       'child_dialect_count', 'country_ids'],
      dtype='object')

In [191]:
languoid

,id,family_id,parent_id,name,bookkeeping,level,latitude,longitude,iso639P3code,description,markup_description,child_family_count,child_language_count,child_dialect_count,country_ids
0,3adt1234,afro1255,nort3292,3Ad-Tekles,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
1,aala1237,aust1307,ramo1244,Aalawa,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
2,aant1238,nucl1709,nort2920,Aantantara,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
3,aari1238,sout2845,ahkk1235,Aari-Gayil,False,family,NaN,NaN,aiz,NaN,NaN,0,2,0,NaN
4,aari1239,sout2845,aari1238,Aari,False,language,5.95034,36.5721,aiw,NaN,NaN,0,0,0,ET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26280,zuti1239,tupi1275,guaj1255,Guajajára of Zutiua,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
26281,zuwa1238,koia1260,omie1241,Zuwadza,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
26282,zwal1238,atla1278,shal1242,Zwall,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN
26283,zyph1238,sino1245,nucl1757,Zyphe,False,language,22.52400,93.2640,zyp,NaN,NaN,0,0,2,IN MM
26284,zyud1238,ural1272,komi1269,Zyuzdin,False,dialect,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN

In [192]:
languoid = languoid[['id', 'family_id']]

In [193]:
languoid = languoid[languoid['id'].isin(lista_lenguas_glottolog)]

In [194]:
languoid

             id family_id
4      aari1239  sout2845
5      aari1240  book1242
6      aasa1238  afro1255
13     abad1241  aust1307
16     abag1245  nucl1709
...         ...       ...
26267  zuma1239  afro1255
26268  zumb1240  afro1255
26274  zuni1245       NaN
26275  zuoj1238  taik1256
26283  zyph1238  sino1245

[7992 rows x 2 columns]

In [195]:
# ahora, filtramos las filas que tienen datos faltantes

#languoid = languoid.dropna()

In [196]:
languoid

             id family_id
4      aari1239  sout2845
5      aari1240  book1242
6      aasa1238  afro1255
13     abad1241  aust1307
16     abag1245  nucl1709
...         ...       ...
26267  zuma1239  afro1255
26268  zumb1240  afro1255
26274  zuni1245       NaN
26275  zuoj1238  taik1256
26283  zyph1238  sino1245

[7992 rows x 2 columns]

In [207]:
languoid['family_id'] = languoid['family_id'].mask(languoid['family_id'].isna(), languoid['id'])

In [208]:
languoid

             id family_id
4      aari1239  sout2845
5      aari1240  book1242
6      aasa1238  afro1255
13     abad1241  aust1307
16     abag1245  nucl1709
...         ...       ...
26267  zuma1239  afro1255
26268  zumb1240  afro1255
26274  zuni1245  zuni1245
26275  zuoj1238  taik1256
26283  zyph1238  sino1245

[7992 rows x 2 columns]

In [209]:
## diccionario lengua:familia

## lista lenguas
L = list(languoid['id'])

## lista familias
F = list(languoid['family_id'])

## diccionario vacío
language_family = {}

## recorremos las lenguas: usamos los índices
for i in range(len(L)):
    
    ## lengua
    lengua = L[i]
    
    ## familia
    familia = F[i]
    
    ## creamos el par lengua:familia
    language_family[lengua] = familia

In [210]:
language_family['mose1249']

'mose1249'

In [211]:
## el diccionario macroareas_dict tiene como keys las macroareas y como values los dataframes
## creamos una versión con las lenguas

macroareas_dict_lenguas = {}

## recorremos las macroareas
for macroarea in macroareas_dict.keys():
    
    ## dataframe
    lenguas = macroareas_dict[macroarea]
    
    ## lenguas
    lenguas = list(lenguas['glottocode'])
    
    ## guardamos
    macroareas_dict_lenguas[macroarea] = lenguas

In [212]:
macroareas_dict_lenguas['South America']

['abip1241',
 'acha1250',
 'ache1246',
 'achu1248',
 'acro1239',
 'abis1238',
 'agav1236',
 'agua1251',
 'agua1253',
 'aika1237',
 'ajyi1238',
 'akaw1239',
 'akun1241',
 'akur1238',
 'alap1235',
 'amah1246',
 'aman1266',
 'amar1274',
 'ambo1252',
 'amun1246',
 'anam1249',
 'anda1286',
 'ando1255',
 'ando1256',
 'anga1316',
 'ango1257',
 'anse1238',
 'apal1257',
 'apia1248',
 'apin1244',
 'apur1254',
 'arab1268',
 'arao1248',
 'arap1275',
 'araw1273',
 'areq1237',
 'arge1236',
 'arhu1242',
 'arik1265',
 'arik1264',
 'arma1244',
 'arua1263',
 'arua1261',
 'arut1244',
 'asha1243',
 'ashe1273',
 'ashe1272',
 'ator1244',
 'atsa1242',
 'ndyu1242',
 'aura1243',
 'aush1242',
 'avac1239',
 'bani1254',
 'awac1239',
 'awet1244',
 'ayac1239',
 'ayor1240',
 'baka1277',
 'guar1293',
 'bani1255',
 'bara1380',
 'barb1242',
 'bare1276',
 'bari1297',
 'barr1251',
 'baur1253',
 'berb1259',
 'chim1302',
 'boli1236',
 'bora1263',
 'bord1248',
 'boro1282',
 'braz1236',
 'cabi1241',
 'cafu1238',
 'cagu1236',
 'cahu1268',
 'caja1238',
 'caja1239',
 'cald1236',
 'call1235',
 'cams1241',
 'cana1262',
 'cand1248',
 'cane1242',
 'cani1243',
 'capa1241',
 'caqu1242',
 'cara1245',
 'cara1271',
 'cara1272',
 'cari1275',
 'cari1276',
 'cari1279',
 'cash1251',
 'cash1254',
 'cauc1241',
 'cavi1250',
 'cayu1262',
 'cent2142',
 'cent2150',
 'chac1250',
 'chac1251',
 'chai1253',
 'cham1315',
 'cham1318',
 'chan1322',
 'chac1249',
 'yana1272',
 'chib1270',
 'chil1283',
 'chil1264',
 'chim1309',
 'chin1483',
 'chip1262',
 'chip1236',
 'chiq1249',
 'chir1286',
 'chol1284',
 'cint1239',
 'clas1251',
 'coca1259',
 'cofa1242',
 'cogu1240',
 'inga1252',
 'colo1249',
 'colo1254',
 'coro1247',
 'coxi1236',
 'coya1241',
 'cube1242',
 'cuib1242',
 'culi1244',
 'cuma1240',
 'cume1234',
 'curr1243',
 'cusc1236',
 'daww1239',
 'deni1241',
 'desa1247',
 'djeo1235',
 'east2551',
 'east2555',
 'ecua1243',
 'embe1259',
 'embe1260',
 'embe1262',
 'embe1261',
 'emok1238',
 'enaw1238',
 'nort2971',
 'sout2989',
 'epen1239',
 'esee1248',
 'fuln1247',
 'gali1262',
 'gavi1246',
 'guah1255',
 'guaj1256',
 'guaj1255',
 'guam1248',
 'guan1268',
 'guar1292',
 'guat1253',
 'guay1257',
 'guia1246',
 'creo1235',
 'hibi1243',
 'hima1247',
 'hixk1239',
 'yuwa1244',
 'huac1244',
 'hual1241',
 'huam1248',
 'huam1247',
 'huay1240',
 'huay1241',
 'huil1244',
 'riog1239',
 'hupd1244',
 'iapa1241',
 'igna1246',
 'ikpe1245',
 'imba1240',
 'inap1242',
 'iqui1243',
 'iran1263',
 'isco1239',
 'iten1243',
 'iton1250',
 'iyoj1235',
 'iyow1239',
 'japr1238',
 'jaqa1244',
 'jauj1238',
 'jebe1250',
 'jora1240',
 'juma1249',
 'juru1256',
 'kabi1264',
 'kadi1248',
 'kaim1235',
 'kain1272',
 'kaiw1246',
 'kaka1269',
 'cacu1241',
 'kama1372',
 'kama1373',
 'kamb1287',
 'kamb1239',
 'kano1245',
 'kapi1248',
 'kara1475',
 'kara1500',
 'kari1317',
 'kari1309',
 'kari1255',
 'kari1311',
 'karo1305',
 'kata1270',
 'nucl1668',
 'kana1291',
 'kaxa1239',
 'kaxu1237',
 'kaya1329',
 'kaya1330',
 'kepk1241',
 'guan1270',
 'kore1283',
 'coro1248',
 'koru1247',
 'guan1269',
 'krah1246',
 'kren1239',
 'kuik1246',
 'kuli1255',
 'kunz1244',
 'kuru1309',
 'kwaz1243',
 'kwin1243',
 'lako1248',
 'lamb1276',
 'latu1238',
 'leco1242',
 'tupi1274',
 'loja1235',
 'araw1276',
 'chiq1248',
 'lule1238',
 'maca1260',
 'maca1261',
 'maca1259',
 'mach1267',
 'mach1268',
 'maco1239',
 'macu1260',
 'macu1259',
 'jama1261',
 'orej1242',
 'maku1246',
 'maku1278',
 'mala1522',
 'mama1278',
 'mand1448',
 'mapi1252',
 'mapo1246',
 'mapu1245',
 'marg1254',
 'mari1442',
 'maru1252',
 'mash1270',
 'mask1241',
 'mati1253',
 'mati1255',
 'mato1253',
 'mats1244',
 'mawa1271',
 'maxa1247',
 'mbya1239',
 'medi1245',
 'mehi1240',
 'saki1248',
 'miar1236',
 'mini1256',
 'miri1270',
 'moch1259',
 'moco1246',
 'more1262',
 'mose1249',
 'movi1243',
 'muin1242',
 'mund1330',
 'muni1258',
 'muru1274',
 'nade1244',
 'nant1250',
 'napo1242',
 'nata1238',
 'ndyu1241',
 'nhen1239',
 'nina1238',
 'niva1238',
 'noca1240',
 'noma1263',
 'nonu1241',
 'nort2976',
 'krey1238',
 'nort2979',
 'nort2972',
 'nort2973',
 'nort2980',
 'nuka1242',
 'nuku1263',
 'nupo1240',
 'ocai1244',
 'ofay1240',
 'omag1248',
 'omej1234',
 'omur1241',
 'orow1243',
 'otii1244',
 'otuk1240',
 'paca1246',
 'paca1245',
 'paez1247',
 'pait1247',
 'pale1260',
 'pali1279',
 'pana1306',
 'pana1307',
 'enap1235',
 'pank1235',
 'pank1250',
 'pano1254',
 'pano1255',
 'papa1263',
 'papi1253',
 'para1310',
 'para1311',
 'para1318',
 'para1312',
 'para1315',
 'para1313',
 'para1316',
 'pare1272',
 'pata1262',
 'pata1261',
 'paum1247',
 'paun1241',
 'pemo1248',
 'pemo1245',
 'lore1243',
 'peru1235',
 'piap1246',
 'piar1243',
 'pich1237',
 'pija1235',
 'pila1245',
 'pira1253',
 'pisa1244',
 'play1240',
 'poka1242',
 'pona1251',
 'poti1237',
 'poya1241',
 'puel1244',
 'puin1248',
 'pume1238',
 'puno1238',
 'puqu1242',
 'puri1262',
 'puru1264',
 'krik1239',
 'qawa1238',
 'remo1248',
 'resi1247',
 'reye1240',
 'rikb1245',
 'runa1235',
 'saba1268',
 'sala1273',
 'sali1298',
 'salu1254',
 'jung1240',
 'sana1298',
 'sana1281',
 'sanb1242',
 'sanm1289',
 'sant1433',
 'sant1432',
 'sanu1240',
 'saop1235',
 'sape1238',
 'sara1340',
 'sara1331',
 'sate1243',
 'seco1241',
 'onaa1245',
 'sens1242',
 'shan1283',
 'shar1245',
 'chay1248',
 'shin1267',
 'ship1254',
 'shua1257',
 'sihu1235',
 'siki1239',
 'sion1247',
 'siri1274',
 'siri1273',
 'sivi1235',
 'skep1238',
 'sout2991',
 'sout2996',
 'sout2992',
 'sout2994',
 'sout2990',
 'sout3127',
 'sran1240',
 'suru1263',
 'suru1262',
 'suru1261',
 'suya1243',
 'taca1256',
 'tama1340',
 'tama1338',
 'tani1257',
 'tape1236',
 'tapi1253',
 'tapi1254',
 'tari1256',
 'taru1236',
 'tatu1247',
 'taus1253',
 'tawa1278',
 'tehu1242',
 'emer1243',
 'tena1240',
 'temb1276',
 'tenh1241',
 'tere1279',
 'tete1252',
 'ticu1245',
 'ting1238',
 'tini1245',
 'toba1269',
 'toba1268',
 'toba1282',
 'toca1235',
 'tome1239',
 'tora1263',
 'toro1255',
 'toto1306',
 'trem1235',
 'trin1277',
 'trin1276',
 'trin1274',
 'trio1238',
 'truk1242',
 'trum1247',
 'colo1256',
 'tuca1252',
 'tuku1240',
 'sala1272',
 'tupa1250',
 'tupi1273',
 'tupi1272',
 'turi1247',
 'tuxa1239',
 'tuxi1238',
 'tuyu1244',
 'kari1301',
 'uamu1236',
 'ucay1237',
 'umot1240',
 'urar1246',
 'uruu1244',
 'urub1250',
 'urub1243',
 'urue1240',
 'urug1238',
 'urum1250',
 'urup1235',
 'vene1237',
 'vile1241',
 'pira1254',
 'waim1255',
 'waim1253',
 'waiw1244',
 'wako1235',
 'waor1240',
 'wapi1253',
 'wara1303',
 'paus1244',
 'wari1268',
 'wasu1238',
 'waur1244',
 'waya1270',
 'waya1269',
 'wayo1238',
 'wayu1243',
 'west2640',
 'west2651',
 'wich1264',
 'wich1262',
 'wich1263',
 'wira1264',
 'woun1238',
 'xakr1238',
 'xava1240',
 'xere1240',
 'xeta1241',
 'xing1248',
 'xipa1240',
 'xipi1238',
 'xiri1243',
 'xokl1240',
 'xuku1239',
 'yaba1249',
 'yaba1248',
 'yagu1244',
 'yahu1241',
 'yala1242',
 'yama1264',
 'yame1242',
 'yami1256',
 'yane1238',
 'yano1262',
 'yano1261',
 'yari1235',
 'yaro1235',
 'yauy1235',
 'yavi1244',
 'yawa1261',
 'yawa1260',
 'maqu1238',
 'yine1238',
 'yora1241',
 'yucu1253',
 'yuhu1238',
 'yukp1241',
 'yuqu1240',
 'yura1255',
 'yuru1263',
 'zapa1253',
 'zoee1240']

In [213]:
## comprobamos! número de lenguas: tamaño de las listas

for M in macroareas_dict_lenguas.keys():
    ## mostramos el largo de las listas
    print(M, len(macroareas_dict_lenguas[M]))

Africa 2272
Eurasia 1888
Papunesia 2174
South America 547
North America 721
Australia 390

### Desafío grupal. Responda la pregunta 2. 
¿Qué podríamos concluir de estos cálculos? ¿Qué otras preguntas cuantitativas sobre familias lingüísticas podrían hacerse?

**Recomendación!** Defina un diccionario en donde intercambie las lenguas de **macroareas_dict_lenguas** por las familias del diccionario **language_family**. Tengan la precaución de saltarse las lenguas que no aparezcan en el diccionario **language_family**.

In [214]:
## definamos un diccionario vacío
macroareas_dict_familias = {}

## recorremos las macroares
for M in macroareas_dict_lenguas.keys():
    
    ## lista de lenguas en la macroarea M
    lista_lenguas_M = macroareas_dict_lenguas[M]
    
    ## lista de familias
    familias_macroarea = []
    
    ## recorremos la lista lista_lenguas_M
    for lengua in lista_lenguas_M:
        
        ## por si hay algún problema
        if lengua in language_family.keys():
            familias_macroarea += [language_family[lengua]]
            
    macroareas_dict_familias[M] = len(list(set(familias_macroarea)))

In [215]:
macroareas_dict_familias['South America']

98

In [216]:
## comprobamos! número de lenguas: tamaño de las listas

for M in macroareas_dict_familias.keys():
    ## mostramos el largo de las listas
    print(M, macroareas_dict_familias[M])

Africa 59
Eurasia 46
Papunesia 130
South America 98
North America 78
Australia 35

### Pregunta 3: ¿Cuántas lenguas están anotadas en Wals por macroarea?

In [219]:
## lenguas de wals https://github.com/cldf-datasets/wals/tree/master/cldf
languages_wals = pd.read_csv('languages_wals.csv')

In [220]:
languages_wals

,ID,Name,Macroarea,Latitude,Longitude,Glottocode,ISO639P3code,Family,Subfamily,Genus,GenusIcon,ISO_codes,Samples_100,Samples_200,Country_ID,Source
0,aab,Arapesh (Abu),Papunesia,-3.450000,142.950000,abua1245,aah,Torricelli,NaN,Kombio-Arapesh,c51CC56,aah,False,False,PG,Nekitel-1985
1,aar,Aari,Africa,6.000000,36.583333,aari1239,aiw,Afro-Asiatic,Omotic,South Omotic,c708033,aiw,False,False,ET,Hayward-1990a
2,aba,Abau,Papunesia,-4.000000,141.250000,abau1245,aau,Sepik,NaN,Abau,c807433,aau,False,False,PG,Bailey-1975
3,abb,Arabic (Chadian),Africa,13.833333,20.833333,chad1249,shu,Afro-Asiatic,NaN,Semitic,cB3CC51,shu,False,False,TD,Abu-Absi-1995
4,abd,Abidji,Africa,5.666667,-4.583333,abid1235,abi,Niger-Congo,Kwa,Agneby,c523380,abi,False,False,CI,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2657,zte,Zapotec (Texmelucan),North America,16.500000,-97.166667,texm1235,zpz,Oto-Manguean,NaN,Zapotecan,c5162CC,zpz,False,False,MX,NaN
2658,zul,Zulu,Africa,-30.000000,30.000000,zulu1248,zul,Niger-Congo,Benue-Congo,Bantu,cC3CC51,zul,True,True,ZA,Canonici-1989 Canonici-1995 Cope-1982 Dahl-198...
2659,zun,Zuni,North America,35.083333,-108.833333,zuni1245,zun,NaN,NaN,NaN,c805C33,zun,False,False,US,Bunzel-1933-1938 Bybee-et-al-1994 Cook-1975 Mi...
2660,zya,Zapotec (Yatzachi),North America,17.200000,-96.200000,yatz1235,zav,Oto-Manguean,NaN,Zapotecan,c5162CC,zav,False,False,MX,Butler-1980
2661,zzo,Zapotec (Zoogocho),North America,17.250000,-96.250000,zoog1238,zpq,Oto-Manguean,NaN,Zapotecan,c5162CC,zpq,False,False,MX,Long-C-and-Cruz-M-1999 Sonnenschein-2005

In [221]:
## lista de lenguas de wals
lista_lenguas_wals = list(languages_wals['Glottocode'])

## creamos un diccionario con listas
macroareas_dict_lenguas_wals = {M:[] for M in macroareas_dict_lenguas.keys()}

## recorremos las macroareas de macroareas_dict_lenguas
for M in macroareas_dict_lenguas.keys():
    
    ## lenguas de una macroarea
    lenguas_macroarea = macroareas_dict_lenguas[M]
    
    ## revisamos cuáles de estas lenguas están en wals
    for lengua in lenguas_macroarea:
        ## si está en la lista de lenguas de wals
        if lengua in lista_lenguas_wals:
            ## guardamos
            macroareas_dict_lenguas_wals[M] += [lengua]

In [222]:
## miramos! 

for M in macroareas_dict_lenguas.keys():
    ## mostramos el largo de las listas
    print(M, len(macroareas_dict_lenguas[M]), len(macroareas_dict_lenguas_wals[M]))

Africa 2272 567
Eurasia 1888 544
Papunesia 2174 546
South America 547 240
North America 721 346
Australia 390 162

### Preguntas pendientes: 
- ¿Cuántas familias están anotadas en Wals? ¿Y por macroarea?
- ¿Cúantos rasgos están anotados en Wals para cada lengua? En promedio, ¿Cuántos rasgos están anotados para una lengua cualquiera? ¿Y por macroárea?

Considere las lenguas de Sudamérica. 

- ¿Qué porcentaje de lenguas de cada familia lingüística está anotada en Wals?
- ¿Qué porcentaje del total de rasgos de Wals están anotados para estas lenguas?
- ¿Qué otras preguntas son relevantes?